<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar-top">
        <div class="container">
            <div class="navbar-box-top">
                <a href="#">Fayl yuklash</a>
                <a href="#">Profil</a>
            </div>
        </div>
        <div class="bg-2">
            <div class="container">
                <div class="navbar-box-bottom">
                    <h2 class="link-h2">Docx</h2>
                    <ul>
                        <li><a href="#">Refarat</a></li>
                        <li><a href="#">Diplom Ishi</a></li>
                        <li><a href="#">Boshqalar</a></li>
                    </ul>
                </div>
            </div>
        </div>
            
    </nav>

    <section class="bg-color">
        <div class="container cont-nav-center">
            <h1>Dakument Yaratish</h1>    
        </div>
    </section>

    <section>
        <div class="container cont-nav-center-form">
            <form action="#" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Dokument Nomi*">
                <input type="text" name="price" placeholder="Narxi minimum 9000 (UZS)">
                <textarea name="doc-body" placeholder="Tasnif..." rows="5" cols="33"></textarea>

                <select>
                    <option value="">Fan Tanlang</option>
                    <option value="1">fan1</option>
                    <option value="1">fan2</option>
                    <option value="1">fan3</option>
                </select>

                <select>
                    <option value="">Bo'limini Tanlang</option>
                    <option value="1">fan1</option>
                    <option value="1">fan2</option>
                    <option value="1">fan3</option>
                </select>

                <label class="input-file">
                    <input type="file" name="file">
                     <span class="input-file-btn">kitob Faylini yuklash:</span>           
                    <span class="input-file-text">Max 10mb</span>
                </label>

            </form>  
            <button class="btn btn-outline-success">Saqlash</button>
        </div>
    </section>
 



    <footer>
        <div class="container p-3 d-flex justify-content-between">
            <div class="left">
                <h6>&copy; Copyright 2023-2024. Created by IT-Politech Group</h6>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">Balansdan chiqarish bo'yicha ko'rsatmalar</a></li>
                    <li><a href="#">Biz bilan aloqa</a></li>
                    <li><a href="#">Saytdan foydalanish yuriqnomasi</a></li>
                    <li><a href="#">Fayl yuklash yuriqnomasi</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="./bootstrap.js"></script>
    <script src="./jquery.js"></script>

    <script>
        $('.input-file input[type=file]').on('change', function(){
            let file = this.files[0];
            $(this).closest('.input-file').find('.input-file-text').html(file.name);
        });
    </script>
</body>
</html>