<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <form class='login-form'>
      <div class="box">
        <h2>Login</h2>
        <p>Docx</p>
      </div>
      <div class="flex-row">
        <input id="username" placeholder='Username' type='text'>
        <input id="password" placeholder='Password' type='password'>
      </div>
      <button type="submit">Kirish</button>
      <a href='#'>Ro'yhatdan utmaganmisiz?</a>
    </form>

    
  </div>
    
    <script src="./bootstrap.js"></script>
</body>
</html>