<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <form class='login-form'>
      <div class="box">
        <h2>Registratsiya</h2>
        <p>Docx</p>
      </div>
      <div class="flex-row">
        <input name="name" placeholder='Name' type='text'>
        <input name="mail" placeholder='Mail' type='email'>
        <input name="password1" placeholder='Password' type='password'>
        <input name="password2" placeholder='Password' type='password'>
      </div>
      <button type="submit">Saqkash</button>
      <a href='#'>Profilga kirish</a>
    </form>

    
  </div>
    
    <script src="./bootstrap.js"></script>
</body>
</html>