<footer>
    <div class="container p-3 d-flex justify-content-between">
        <div class="left">
            <h6>&copy; Copyright 2023-2024. Created by IT-Politech Group</h6>
        </div>
        <div class="right">
            <ul>
                <li><a href="#">Balansdan chiqarish bo'yicha ko'rsatmalar</a></li>
                <li><a href="#">Biz bilan aloqa</a></li>
                <li><a href="#">Saytdan foydalanish yuriqnomasi</a></li>
                <li><a href="#">Fayl yuklash yuriqnomasi</a></li>
            </ul>
        </div>
    </div>
</footer>