<nav class="navbar-top">
    <div class="container">
        <div class="navbar-box-top">
            <a href="#">Fayl yuklash</a>
            <a href="#">Profil</a>
        </div>
    </div>
    <div class="bg-2">
        <div class="container">
            <div class="navbar-box-bottom">
                <h2 class="link-h2">Docx</h2>
                <ul>
                    <li><a href="#">Refarat</a></li>
                    <li><a href="#">Diplom Ishi</a></li>
                    <li><a href="#">Boshqalar</a></li>
                </ul>
            </div>
        </div>
    </div>
        
</nav>