<nav class="navbar-top">
    <div class="container">
        <div class="navbar-box-top">
            {% if request.user.is_authenticated %}
                <a href="#">Fayl yuklash</a>
                <a href="{# url "users:profile"  #}">Profil</a>
                <a href="{% url "logout" %}">Log out</a>
            {% else %}
                <a href="{% url "login" %}">kirish</a>
                <a href="{% url "users:signup" %}">Ro'yxatdan o'tish</a>
            {% endif %}
        </div>
    </div>
    <div class="bg-2">
        <div class="container">
            <div class="navbar-box-bottom">
                <h2 class="link-h2">Docx</h2>
                <ul>
                    {% for i in category %}
                        {% if forloop.counter <= 2 %}
                            <li><a href="{% url 'main:category_list' i.pk %}">{{ i.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="vse"><a href="#">Boshqalar</a>
                        <div class="block-p">
                            <ul class="ul-2">

                                {% for i in category %}
                                    <li class="li-2"><a class="a2" href="{% url 'main:category_list' i.pk %}">{{ i.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>
                
                </ul>
            </div>
        </div>
    </div>
        
</nav>