{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="navbar-top">
            <div class="container">
                <div class="navbar-box-top">
                    <a href='{% url "main:index" %}' class="link-h2">Docx LOGO</a>

                    <div class="cont-nav-center-box">
                        <form method="GET" class="search-input">
                            <button type='submit'><img src="{% static 'img/Remove-bg.ai_1721827232078.png' %}"></button>
                            <input type="text" name="q" placeholder="Qidiruv...">
                        </form>
                    </div>
                    
                    
                    <div class="navbar-box-bottom">
                        <ul>
                            {% for i in category %}
                                {% if forloop.counter <= 2 %}
                                    <li><a href="{% url 'main:categoryFilter' i.pk %}">{{ i.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="vse"><a href="#">Boshqalar</a>
                                <div class="block-p">
                                    <ul class="ul-2">
                                        {% for i in category %}
                                            <li class="li-2"><a class="a2" href="{% url 'main:categoryFilter' i.pk %}">{{ i.name }}</a></li>
                                        {% endfor %}
        
                                    </ul>
                                </div>
                            </li>
                        
                        </ul>
                    </div>
                  
                    
                    <div class='profile-nav'>
                        {% if request.user.is_authenticated %}
                            <a href="{% url "users:profile" request.user  %}"><img src="{% static 'img/user.png' %}"></a>
                            <a href="{% url "logout" %}">LOG OUT</a>
                        {% else %}
                            <a href="{% url "login" %}">LOG IN</a>
                        {% endif %}
                    </div>

                </div>
            </div>
                
        </nav>
    </div>
    

    <div>{% block content %}{% endblock content %}</div>
    
    
    <div>
        <footer>
            <div class="container p-3 d-flex justify-content-between">
                <div class="left">
                    <h6>&copy; Copyright 2023-2024. Created by IT-Politech Group</h6>
                </div>
                <div class="right">
                    <ul>
                        <li><a href="#">Balansdan chiqarish bo'yicha ko'rsatmalar</a></li>
                        <li><a href="#">Biz bilan aloqa</a></li>
                        <li><a href="#">Saytdan foydalanish yuriqnomasi</a></li>
                        <li><a href="#">Fayl yuklash yuriqnomasi</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
</body>
</html>