{% extends "base.html" %}
{% load static %}
{% block content %}

    
    <section class="bg-img">
        <div class="container cont-nav-center">
            <h1>Hujjatlarni yuklang va pul ishlang</h1>
            <p>Hujjatlarni sotish uchun sayt</p>
            <div class="nav-cont-line"></div>
                
        </div>
    </section>
 
    <section class="categorys">
        <div class="container">
            <ul>
                <li><a href="{% url "main:index" %}" class='active'>Hammasi</a></li>
                {% for i in science %}
                    <li><a href="{% url "main:article_list" i.pk %}">{{ i.name }}</a></li>
                {% endfor %}

            </ul>
        </div>
    </section>
    
    <section>
        <div class="container d-flex flex-wrap mb-3">
           
            {% comment %} {% for i in filtered_products %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name|truncatewords:7 }}</h5>
                        <div class="text-name">
                            <p class="p1">Muallif: {{ i.Author }}</p>
                            <p class="p2">Bo'lim: {{ i.category }}</p>
                        </div>
                        <div class="text-data">
                            <p class="p1">Yuklab olishlar soni: 0</p>
                            <p class="p2">Yuklangan Sana: {{ i.created }}</p>
                        </div>
                        <div class="card-line"></div>
                        <div class="text-btn">
                            <a href="{% url 'products:detail' i.pk %}">Ko'rish</a>
                            <h4>{{ i.price }} UZS</h4>
                        </div>
                    </div>
                </div>
            {% endfor %} {% endcomment %}
           
            {% for i in products %}
            {% if forloop.counter <= 6 %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name|truncatewords:7 }}</h5>
                        <div class="text-name">
                            <p class="p1">Muallif: {{ i.Author }}</p>
                            <p class="p2">Bo'lim: {{ i.category }}</p>
                        </div>
                        <div class="text-data">
                            <p class="p1">Yuklab olishlar soni: 0</p>
                            <p class="p2">Yuklangan Sana: {{ i.created }}</p>
                        </div>
                        <div class="card-line"></div>
                        <div class="text-btn">
                            <a href="{% url 'products:detail' i.pk %}">Ko'rish</a>
                            <h4>{{ i.price }} UZS</h4>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
           

        
  
        </div>
    </section>

    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if article.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ article.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                
                <!-- Sahifalar uchun o'rtadagi raqamlar -->
                {% for num in article.paginator.page_range %}
                    {% if article.number == num %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ num }}</a>
                        </li>
                    {% elif num > article.number|add:'-5' and num < article.number|add:'5' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                
                {% if article.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ article.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    

{% endblock content %}


    
