{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container p-5 mb-5">
    <h3 class='mt-2 mb-5'>Profil ma'lumotlari</h3>

    <div class="row mt-5">
        <div class="col-sm-3"><strong>To'liq ism</strong></div>
        <div class="col-sm-9">{{ customuser.first_name }}</div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3"><strong>Login</strong></div>
        <div class="col-sm-9">{{ customuser.username }}</div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3"><strong>Email</strong></div>
        <div class="col-sm-9"> {{ customuser.email }} </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-3"><strong>Nomer</strong></div>
        <div class="col-sm-9"> {{ customuser.phone_number }} </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-9">
            {% if customuser == request.user %}
            <a href="{% url "users:update"  %}" class='btn btn-success'>Fodalanuvchi profilini Taxrirlash</a>
            <a href="{% url "password_change" %}" class='btn btn-danger'>Fodalanuvchi Parolini o'zgartirish</a>
            {% endif %}
        </div>
    </div>
    <hr>


    
</div>

    
 



{% endblock content %}