<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="../main.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar-top">
        <div class="container">
            <div class="navbar-box-top">
                <a href="#">Fayl yuklash</a>
                <a href="#">Profil</a>
            </div>
        </div>
        <div class="bg-2">
            <div class="container">
                <div class="navbar-box-bottom">
                    <h2 class="link-h2">Docx</h2>
                    <ul>
                        <li><a href="#">Refarat</a></li>
                        <li><a href="#">Diplom Ishi</a></li>
                        <li><a href="#">Boshqalar</a></li>
                    </ul>
                </div>
            </div>
        </div>
            
    </nav>

 

    <section>
        <div class="container cont-user">
            <div class="row">
                <div class="col col-4 mt-5">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Malumot</a>
                        <a href="#" class="list-group-item list-group-item-action">Mening dokumentlarim</a>
                        <a href="#" class="list-group-item list-group-item-action">Sotib olingan dokumentlar</a>
                        <a href="#" class="list-group-item list-group-item-action">Mening operatsiyalarim</a>
                      </div>


                      
                </div>
                <div class="col-md-8 mt-5">
                    <h3 class="mb-4">Profil ma'lumotlari</h3>
                    <div class="row">
                        <div class="col-sm-3"><span>To'liq ism</span></div>
                        <div class="col-sm-9">Samandarbek Nazarov</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><span>Login</span></div>
                        <div class="col-sm-9">samandarnazarov07@gmail.com</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><span>Telefon raqami</span></div>
                        <div class="col-sm-9">+998 90 538 78 69</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><span>Asosiy balans</span></div>
                        <div class="col-sm-9">0 UZS</div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3"><span>Depozit balans</span></div>
                        <div class="col-sm-9">0 UZS</div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3"><span>Reyting</span></div>
                        <div class="col-sm-9">0</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><span>Baholar soni</span></div>
                        <div class="col-sm-9">0</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3"><span>Sotish soni</span></div>
                        <div class="col-sm-9">0</div>
                    </div>


                </div>
            </div>
        </div>
    </section>
 







    <footer>
        <div class="container p-3 d-flex justify-content-between">
            <div class="left">
                <h6>&copy; Copyright 2023-2024. Created by IT-Politech Group</h6>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">Balansdan chiqarish bo'yicha ko'rsatmalar</a></li>
                    <li><a href="#">Biz bilan aloqa</a></li>
                    <li><a href="#">Saytdan foydalanish yuriqnomasi</a></li>
                    <li><a href="#">Fayl yuklash yuriqnomasi</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="../bootstrap.js"></script>
    <script src="../jquery.js"></script>

</body>
</html>